body{
    background-color : blueviolet;
    font-family: 'Playfair Display', serif;
    color : black;
}

  

  h1{
      background-color: beige;
      text-align: center;
  }

  .center{
      width: 40%;
      height: 40%;
      border-radius:50%;
      border: 5px double beige;
  }



  footer{
      background-color: bisque;
      padding: 20px 10px 20px 10px;
  }

  h2{
      text-align:left;
        margin-left:auto;
  }

  
  

  ul
  li{
    font-size: 14px;
    list-style-type: none;
   padding: 5px;
  }

  div .flex-container{
      border: 5px solid beige;
       justify-content: flex-end; 
  }

h4{
    margin-left: auto;
} 





div .container-fluid{
    background-color: bisque;
    padding: 20px 10px 20px 10px;
    margin: 300px;
    
}



iframe{
    border: 3px solid white;
    border-radius: 8px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}






img{
    border-radius: 8px;
    border: 5px solid beige;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h5.card-title{
    font-size:x-large;
    text-align: center;
}

a.active{
background-image: url(https://th.bing.com/th/id/OIP.dALFLmJ44DgtYcCsYoQ9LwHaEK?w=301&h=180&c=7&r=0&o=5&dpr=1.15&pid=1.7);
padding: 25px;
 font-size: x-large;
 margin: 20px;
 color: white;
 border-radius: 10px;
}


p{
    color:whitesmoke;
}


header{
    text-align: center;
    font-size:xx-large;
}


footer{
    background-image: url(https://th.bing.com/th/id/OIP.dALFLmJ44DgtYcCsYoQ9LwHaEK?w=301&h=180&c=7&r=0&o=5&dpr=1.15&pid=1.7);
}

a{
    color: yellow;
    margin:10px;
    font-size:large;

}


